/venv/
/.idea/
/.pytest_cache/
/tests/.pytest_cache/
*.log
/.allure-results/
**/allure-report/

/tests/allure-results/
**/__pycache__/
/tests/__pycache__/
**.logs
**.allure-results
/allure-report/
/tests/logs/
**/allure-results/
