[user]
username = user
password = bitnami

[url]
user_front = http://demo-opencart.ru/index.php
admin_front = http://demo-opencart.ru/admin/index.php


[api]
user = bender
apikey = 5ieHYhOcNUbVIx0rggfXdAVt0SYF3aYrE7VGeb1b07rYgroFcjCAIcfNM4eHk3gRJtJhdoOpazt8zMU2VBxGAMVryFKnVYQ26zRtTu74tlXRc6WqmsRCRsfD7QkaxrfVeM4SCqxtFcYpx6lvBMr2sWNlaf87V4Zh3J4vK38udDcdo2usPT20DXy8bKFkMUCxKk5xoyecnyKemwoHVCZBwxYcJv5oZtsuBESSF4hWhEoOneIwgPDy0cepRjoDQUJY
